/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: lightyellow;
    color: #333;
}

header {
    background-color: #69c1f2;
    padding: 20px;
    text-align: center;
    color: #fff;
}

nav {
    background-color: #eaf2ff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

section {
    padding: 40px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #69c1f2;
    text-align: center;
}

.game {
    margin-bottom: 20px;
}

.game h3 {
    color: #69c1f2;
}

.game p {
    margin-bottom: 10px;
}

.game a {
    display: inline-block;
    background-color: #69c1f2;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

footer {
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
    color: #777;
}
